.report__details-field {
    background-color: rgb(218, 218, 218);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}
.report__details-form {
    background-color: white;
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 700px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 10px;
}
.report__details-form h4 {
    text-align: center;
}
