.booking__icon-wrapper {
    width: 2.5rem;
}

.yard__result-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    & > .yard-result {
        border: 1px solid rgb(208, 208, 208);
        height: 420px;
        border-radius: 5px;
        cursor: pointer;
        width: 350px;
        padding-bottom: 1.5rem;

        & > img {
            width: 100%;
            border-radius: 5px 5px 0 0;
            height: 60%;
        }

        &:hover {
            background-color: rgba(208, 208, 208, 0.2);
        }
    }
}

.yard-pagination {
    text-align: end;

    & .pagination-statistic {
        display: inline-block;
        width: 5rem;
        text-align: center;

        & > input {
            display: inline;
            width: 1.5rem;
            text-align: center;
            border: none;
        }
    }

    & .pagination-arrow {
        cursor: pointer;

        &:hover {
            color: #999;
        }
    }
}

.nodata-img {
    width: 300px;
}

.nodata-text {
    color: #999;
    font-weight: 600;
    font-size: 1.35rem;
    margin-top: 1rem;
}

.cart-container {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.cart-quantity {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.booking-title {
    background-color: black;
    width: 100vw;
    color: white;
    letter-spacing: 10px;
}
