.big-father {
  margin: 70px;
}

.info-text {
  padding-left: 20px;
}

.info-avatar {
  // border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
}
.cancel {
  background-color: rgb(134, 134, 134);
  color: white;
}

.changePassword-popup {
  background-color: rgb(190, 187, 187);
}
