.voucher-code {
    letter-spacing: 1px;
}

.voucher-wrapper {
    height: 12rem;

    & > .yard-result {
        border: 1px solid rgb(208, 208, 208);
        height: 100%;
        border-radius: 5px;
        display: flex;

        & > img {
            height: 100%;
            border-radius: 5px 0 0 5px;
        }
    }
}
