.voucher-code {
    letter-spacing: 1px;
}

.voucher-wrapper {
    height: 12rem;

    & > .yard-result {
        border: 1px solid rgb(208, 208, 208);
        height: 100%;
        border-radius: 5px;
        display: flex;
        cursor: pointer;

        & > img {
            height: 100%;
            border-radius: 5px 0 0 5px;
        }

        &:hover {
            background-color: rgb(214, 214, 214);
        }
    }
}

.voucher-wrapper-selected {
    background-color: rgb(214, 214, 214);
    color: black;
}

.voucher-storage {
    background-color: white;
    width: "90vw";
    border-radius: 5;
}
