.feature-tab {
    max-width: 150px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
    &:hover {
        background-color: black;
        color: white;

        & .remove__feature-btn {
            display: block;
        }
    }
}

.remove__feature-btn {
    position: absolute;
    top: -0.15rem;
    right: -0.15rem;
    color: red;
    cursor: pointer;
    display: none;
}