.feature-tab {
    max-width: 150px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        background-color: black;
        color: white;

        & .remove__feature-btn {
            display: block;
        }
    }
}

.remove__feature-btn {
    position: absolute;
    top: -0.15rem;
    right: -0.15rem;
    color: red;
    cursor: pointer;
    display: none;
}