.fg-pw__input-border {
    border: 1px solid #999;
}

.fg-pw__icon-wrapper {
    border: 1px solid #999;
    border-left: none;
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgb(219, 219, 219);
    }
}