.features {
    height: calc(100vh - 64px);
}

.feature-container {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgb(208, 208, 208);
    cursor: pointer;

    &:hover {
        background-color: rgb(238, 238, 238);
        border: none;
    }
}

.dashboard-player {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: -10;
}
