.home-dock {
    width: min-content;
    background-color: rgb(218, 218, 218);
    position: relative;
    bottom: 5rem;
    margin: auto;
    border-radius: 20px;
}

.home {
    overflow-x: hidden;
}