.total-yield {
  background-color: #0d6efd;
}

.total-yield p {
  color: white;
  align-self: center;
  font-size: x-large;
}

.option-yard {
  padding-right: 20px;
}

.total-yield-item div {
  padding: 50px 110px;
  background-color: #047cba;
  color: whitesmoke;
}

.info-other {
  margin: 50px 70px;
  background-color: #6176e5;
  color: white;
}

.line-chart {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.doughnut-chart {
  margin-right: 20px;
  padding: 10px 60px;
}

.pie-title {
  color: #0d6efd;
  padding: 5px;
  margin: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.chart-title {
  color: #0d6efd;
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.page-title {
  padding-top: 20px;
}