.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 550px;
}

.yard-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 190px);
}

.react-slideshow-container .default-nav {
    border-radius: 0;
    background: none;
}

.yard__details-field {
    background-color: rgb(218, 218, 218);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.slot-details-container {
    padding: 2px;

    & > .slot-details {
        background-color: rgb(218, 218, 218);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #999;
        }

        & i {
            font-size: 0.8rem;
        }
    }
}

.match-container {
    height: 8rem;
    border: 1px solid #999;
    border-radius: 5px;

    & .match__clear-btn {
        position: relative;
        left: 5rem;
        text-align: end;
    }

    & p:not(:first-child) {
        font-size: 0.8rem;
    }

    & p:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.matches-container {
    height: 28rem;
    overflow-y: visible;
    overflow-x: hidden;
    border-bottom: 2px solid black;
}
