.booking-btn {
    font-size: 1.5rem;
}

.welcome__page-container {
    // padding-left: 3rem;
}

.slide-container {
    & > div {
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;

        & > span {
            width: 100%;
            height: 100%;
            background-color: rgba(185, 185, 185, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 100;
            font-size: 2.5rem;
            font-style: italic;
            color: white;
        }
    }
}
