.booking-btn {
    font-size: 1.5rem;
}

.welcome__page-container {
    padding-left: 3rem;

    & svg {
        display: none;
    }
}

.slide-container > div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}