@import "react-slideshow-image/dist/styles.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.size-1 {
  font-size: 1rem;
}

.size-2 {
  font-size: 2rem;
}

.size-3 {
  font-size: 3rem;
}

.size-4 {
  font-size: 4rem;
}

.size-5 {
  font-size: 5rem;
}

.size-6 {
  font-size: 6rem;
}

.lp-4 {
  letter-spacing: 4px;
}

.lp-3 {
  letter-spacing: 3px;
}

.plr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-10 {
  padding-top: 10rem;
}

.bold {
  font-weight: 900;
}

.outline-none {
  outline: none;
}

.width-120 {
  width: 120px;
}

.width-60 {
  width: 60px;
}

.lh-44 {
  line-height: 44px;
}

.lh-42 {
  line-height: 42px;
}

.color-blur {
  color: rgb(120, 120, 120);
}

a {
  color: black;
}

.link a {
  color: rgb(0, 81, 255);

  &:hover {
    color: purple;
  }
}

p {
  margin: 0;
  padding: 0;
}

.height-mincontent {
  height: min-content;
}

.green {
  color: green !important;
}

.blue {
  color: rgb(0, 81, 255) !important;
}

.red {
  color: red !important;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-auto {
  overflow-x: auto;
}

.table {
  table-layout: fixed;
}

.mw-410 {
  min-width: 410px;
}

.flex-1 {
  flex: 1;
}

.border-none {
  border: none;
}

.cursor-none {
  cursor: none;
}

.h-300 {
  height: 300px;
}

.h-250 {
  height: 250px;
}

.yellow {
  color: rgb(192, 192, 0) !important;
}

.size-15 {
  font-size: 1.5rem;
}

.mh-550 {
  max-height: 550px;
}

.fsi {
  font-style: italic;
}

.fwl {
  font-weight: lighter;
}

.w-min-content {
  width: min-content;
}

tr {
  line-height: 35px;
  min-height: 35px;
  height: 35px;
}

button {
  outline: none;
}