body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

.size-1 {
  font-size: 1rem;
}

.size-2 {
  font-size: 2rem;
}

.size-3 {
  font-size: 3rem;
}

.size-4 {
  font-size: 4rem;
}

.size-5 {
  font-size: 5rem;
}

.size-6 {
  font-size: 6rem;
}

.lp-4 {
  letter-spacing: 4px;
}

.lp-3 {
  letter-spacing: 3px;
}

.plr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-12 {
  padding-top: 12rem;
}

.bold {
  font-weight: 900;
}

.outline-none {
  outline: none;
}

.width-120 {
  width: 120px;
}
